<!--<div >-->
    <!--<div >-->
        <!--<span class="footer-entry last">-->
            <!--版权所有2016 SkyNote。保留所有权利。-->
        <!--</span>-->
    <!--</div>-->
<!--</div>-->

<footer id="footer">
    <div class="copyright">
        版权所有2016 SkyNote。保留所有权利。
    </div>
</footer>

<script type="text/javascript" src="/assets/js/jquery.js"></script>
    </body>
</html>
