<div class="main">
    <div align="center" class="center-block">
        <h1>
            SkyNote，你的在线笔记</h1>
        <h2>
            立即<a href="/register">注册</a></h2>

        <h3>已有账号,立即<a href="/login">登录</a></h3>

    </div>
    <!--<div class="picture-wrapper">-->
        <!--<div class="background-gradient">-->
            <!--<div class="left-gradient"></div>-->
            <!--<div class="right-gradient"></div>-->
        <!--</div>-->
        <!--<div class="platform-pics">-->
            <!--<div class="desktop">-->
                <!--<div class="iMac">-->
                    <!--<img src="/public/images/imac@2x.png">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="mobile-pics">-->
                <!--<div class="iphone"></div>-->
                <!--<div class="ipad"></div>-->
                <!--<div class="android"></div>-->
                <!--<div class="tablet"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="download-area">-->
        <!--<div class="ctas">-->
            <!--<a class="button get-desktop" href="/getit"> 下载印象笔记 Mac版</a>-->
            <!--<div class="button get-mobile" id="email-cta">-->
                <!--下载印象笔记到移动设备</div>-->
        <!--</div>-->
        <!--<div class="email-area">-->
            <!--<form method="post" action="https://app.yinxiang.com/LoggedOut.action?sendEmail=&amp;json=true" id="email_form"><ol>-->
                    <!--<li class="u-inlineBlock">-->
                        <!--<input maxlength="255" name="email" id="download-email-input" type="text" class="text long TextInput" /></li>-->
                    <!--<li class="u-inlineBlock">-->
                        <!--<input name="sendEmail" type="submit" class="button" value="发送" /></li>-->
                <!--</ol>-->
                <!--<div style="display: none;"><input type="hidden" name="_sourcePage" value="BWuJhAIv6tXiMUD9T65RG_YvRLZ-1eYO3fqfqRu0fynRL_1nukNa4gH1t86pc1SP" /><input type="hidden" name="__fp" value="7Ra6-yFew_c=" /></div></form><div id="email-status"></div>-->
            <!--<div id="cancel"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="additional-info-wrapper">-->
        <!--<div class="additional-info">-->
            <!--同时支持Windows Phone和BlackBerry</div>-->
    <!--</div>-->
</div>